@font-face{
    font-family: "Quicksand Light";
    src: url("Font\Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Heboo";
    src: url("Font\Heebo-VariableFont_wght.ttf") format("truetype"); /* Marche pas cette merde */
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: "Quicksand Light", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 96vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

main{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100vh;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

main::-webkit-scrollbar {
    display: none;
}

.aimant{
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

/* .underline{
    position: relative;
}

.underline:after {
    border-radius: 10px;
    content: '';
    display: block;
    position: absolute;
    transform-origin: left;
    width: 0%;
    left: 0px;
    bottom: -4px;
    height: 1px;
    transition: 0.1s;
    background: #000000;
}

.underline:hover:after {
    width: 100%;
} */

.underline{
    cursor: pointer;
    background: linear-gradient(to top, black 1px,  transparent 2px) no-repeat left bottom / 0 100%;
    background-size: 100% 0;
}

.underline:hover{
    animation: souligner 1.2s both;
}

@keyframes souligner {
    from{
        background-size: 100% 100%;
        background-position: bottom right;
    }
    50%{
        background-size: 0 100%;
        background-position: bottom right;
    }
    50.01%{
        background-position: bottom left;
    }
    100%{
        background-size: 100% 100%;
    }
}

/* @keyframes souligner {
    from{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    50.01%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
} */
/* transform-origin: bottom right */


h3{
    font-family: "Heboo", sans-serif;
    font-size: 4.27vw;
    font-weight: bolder;
    margin-bottom: 5%;
}

p{
    font-size: 3.5vw;
    letter-spacing: 0.93vw;
    line-height: 6.2vw;
}

#goScroll{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    bottom: 3vw;
    right: 3vw;
    height: 10vh;
}

.iconScroll{
    width: 3vw;
    animation: scrollDown 1.3s linear infinite;
    transition-duration: 1s;    /* Fonctionne pas */
    box-sizing: content-box;
    padding: 12px;
}

.iconScroll:hover{
    /* transform: translateY(12px) scale(0.6, 1.4); */
    transform: translateY(12px);
    animation: none;
}

@keyframes scrollDown {
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(14px);
    }
    70%{
        transform: translateY(-6px);
    }
    100%{
        transform: translateY(0);
    }
}


#sectionHaut{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25vh 0;
}

#sectionHaut > p{
    width: 40%;
}

.TxtPortfolio{
    width: 100%;
    transform-origin: center;
    animation: rota 6.5s linear infinite;
}

#sectionHaut > div{
    position: relative;
    width: 25%;
}

#sectionHaut > div > img{
    width: 75%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50%; 
    margin-left: 50%; 
    transform: translateY(-50%) translateX(-50%); 
    z-index: -1;
}

.cls-1{
    fill:#0a0a0a;
}

@keyframes rota{ 
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}


#sectionPresentation{
    padding: 19vh 6vw;
}

#presentation{
    text-align: justify;
}

#sectionAmazingIndoor{
    padding: 25vh 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#sectionAmazingIndoor > img{
    width: 40%;
    border-radius: 1.16vw;
}

#sectionAmazingIndoor > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

.pExplication{
    margin-left: 7%;
    font-size: 1.7vw;
    letter-spacing: 4px;
    line-height: 2.7vw;
    text-align: justify;
}


